// CUSTOM BUTTON
.custom-btn {
	color: $body-font-color;
	font-weight: $font-weight-bold;
    border-radius: 50px;
    padding: 13px 29px;
    font-size: $small-font-size;
    line-height: normal;
    overflow: hidden;
    @include transition-effect;
    &:hover {
    	color: $main-color;
    }
    &.custom-btn-bg {
    	background: $button-color;
		color: $text-white;
		&:hover {
	    	background: $main-color;
	    	color: $text-white !important;
	    }
    }
}