$h1-font-color: #212121;
$h2-font-color: #353535;
$h3-font-color: #484848;
$body-font-color: #5b5b5b;
$text-white: #ffffff;
$dark-mode-color: #0c0c0d;
$main-color: #ffc200;
$border-color: #f2f2f1;
$button-color: #474559;
